<!--shadow-attributes-->
<label for="shadow-attributes">{{_('Shadow Attributes')}}</label>
<select id="shadow-attributes" name="shadow-attributes" class='selectpicker' multiple>
    {%for sa in shadow_attributes%}
        <option value="{{sa.attr_id}}" selected>{{attr_id_name_lookup[sa.attr_id]}}
    {%endfor%}

    {%for a in all_attrs%}
        {%if a.attr_id not in shadow_attribute_ids%}
            <option value="{{a.attr_id}}">{{attr_id_name_lookup[a.attr_id]}}
        {%endif%}

    {%endfor%}
</select>

<table id="shadow-attribute-details">
    <tr class='header'>
    <th>
        {{_('Attribute')}}
    </th>
    <th>
        {{_('Operation')}}
    </th>
    <th>
        {{_('Calculation')}}
    </th>
    <th>
        {{_('Threshold')}}
    </th>
    <tr>

    <tr class="shadow-attribute-detail-template" style="display:none">
        <td class="attribute-name"></td>
        <td class="operation">
            <select name="operation">
                <option value="eq">{{_('Equal To')}}</option>
                <option value="gt" selected>{{_('Greater Than')}}</option>
                <option value="gte">{{_('Greater Than or Equal To')}}</option>
                <option value="lt">{{_('Less Than')}}</option>
                <option value="lte">{{_('Less Than or Equal To')}}</option>
            </select>
        </td>
        <td class="minmax">
            <select name="minmax">
                <option value="min" selected>{{_('Minimum')}}</option>
                <option value="max">{{_('Maximum')}}</option>
                <option value="average">{{_('Average')}}</option>
            </select>
        </td>
        <td>
            <input name="threshold" value="0"></input>
        </td>
    <tr>
    {%for sa in shadow_attributes%}

    <tr class="shadow-attribute-detail {{sa.attr_id}}" attr_id='{{sa.attr_id}}'>
            <td class="attribute-name">{{attr_id_name_lookup[sa.attr_id]}}</td>
            <td class="operation">
                <select name="operation">
                    <option value="eq"  {%if sa.operation.value=='eq'%}selected{%endif%}>{{_('Equal To')}}</option>
                    <option value="gt"  {%if sa.operation.value=='gt'%}selected{%endif%}>{{_('Greater Than')}}</option>
                    <option value="gte" {%if sa.operation.value=='gte'%}selected{%endif%}>{{_('Greater Than or Equal To')}}</option>
                    <option value="lt"  {%if sa.operation.value=='lt'%}selected{%endif%}>{{_('Less Than')}}</option>
                    <option value="lte" {%if sa.operation.value=='lte'%}selected{%endif%}>{{_('Less Than or Equal To')}}</option>
                </select>
            </td>
            <td class="minmax">
                <select name="minmax">
                    <option value="min" {%if sa.minmax.value=='min'%}selected{%endif%}>{{_('Minimum')}}</option>
                    <option value="max" {%if sa.minmax.value=='max'%}selected{%endif%}>{{_('Maximum')}}</option>
                    <option value="avg" {%if sa.minmax.value=='average'%}selected{%endif%}>{{_('Average')}}</option>
                </select>
            </td>
            <td>
                <input name="threshold" value="{{sa.threshold}}"></input>
            </td>
        </tr>
    {%endfor%}
</table>
