{% extends "page_layout.html" %}
{% block title %}{{_('Templates')}}{% endblock %}
{% block content %}
    <script>
        var go_new_template_url = "{{url_for('template_manager.go_new_template')}}"
        var go_template_url = "{{url_for('template_manager.go_template', template_id=XXX)}}"
        var load_template_url = "{{url_for('template_manager.do_load_template')}}"
        var download_template_url = "{{url_for('template_manager.do_download_template')}}"
    </script>

    <div id="template-container" class="container-fluid">

        <h3>{{_('Templates')}}</h3>

        <div class="container-fluid grid">
            <ul class="list-unstyled row">
                {% for t in templates %}
                    <li id="template-{{t.template_id}}" class="col-sm-3">
                        <a type="button"
                           class="btn btn-lg link"
                           href="{{url_for('template_manager.go_template', template_id=t.template_id)}}">
                            <span>
                                <div class='head'>
                                    {{t.template_name}}
                                </div>
                            </span>
                        </a>
                        <div class='btn btn-secondary action-btn download-btn' data-toggle="modal" data-target="#download_template_modal" title="{{_('Download template to a file.')}}">
                        <span class="fa fa-download"></span>
                    </div>
                    <div class='btn btn-secondary delete-btn' data-target="#delete_template_modal" data-toggle="modal" title="Delete Template">
                        <span class="fa fa-trash"></span>
                    </div>

                    </li>
                {% endfor %}
                <li id="add-template" class="col-sm-3">
                        <a type="button"
                           data-toggle="modal"
                           data-target="#new-template-container"
                           class="btn btn-lg link new-btn">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>

                </li>
            </ul>
        </div>
    </div>

{%include 'template_manager/delete_template_modal.html' %}
{%include 'template_manager/download_template_modal.html' %}
{%include 'template_manager/new_template_modal.html' %}

<script src="{{url_for('template_manager.static', filename='js/templates.js')}}"></script>

<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('template_manager.static', filename='css/template.css') }}"/>

{% endblock %}
